<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Registro de pedidos</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-group *ngFor="let item of pedidos">
      <ion-item-divider color="medium">
        <ion-label>{{item.fecha}}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let pedi of item.items">
        <ion-card>
          <ion-item >
            <ion-label>Ubicacion: <small>{{pedi.NOMBRE_PROV}}, {{pedi.NOMBRE_CIUDAD}}</small></ion-label>
          </ion-item>
          <ion-item >
            <ion-icon name="trash-outline" slot="end"></ion-icon>
            <ion-label>Automovil: <small>{{pedi.DES_MODELO}}, {{pedi.DES_MARCA}},{{pedi.ANIO}}</small></ion-label>
          </ion-item>
          <ion-item >
            <ion-label text-wrap>Repuesto: <small>{{pedi.DESCRIPCION}}, {{pedi.ORIGINAL}},{{pedi.GENERICO}}</small></ion-label>
          </ion-item>
        </ion-card>
      </ion-item>    
    </ion-item-group>
</ion-content>