<!--<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Registro de pedidos actuales</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar  class="background-image textBanner">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos pendientes</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="contentWhite">
  <ion-card class="cardList" style="width: 371px;">
    <ion-card-content class="textTittles contentPaddingLR">
      <div *ngIf="pedidos.length == 0">
        <p>No existen pedidos pendientes aun!!</p>
      </div>
    <ion-item-group *ngFor="let item of pedidos">
      <ion-item-divider class="dividerColor">
        <ion-label>{{item.fecha}}</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item-sliding  *ngFor="let pedi of item.items" #ionItemSliding> <!--Da un identificador a la etiqueta.-->
          <ion-item >
            <!--Text wrap permite a textos largos se escriban en las sigueintes lineas-->
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <ion-badge *ngIf="pedi.ESTADO == 'Creado'" color="primary" side="end">{{pedi.ESTADO}}</ion-badge>
                  <ion-badge *ngIf="pedi.ESTADO == 'Cotizado'" color="warning" side="end">{{pedi.ESTADO}}</ion-badge>
                  <ion-badge *ngIf="pedi.ESTADO == 'Pre-Finalizado'" color="success" side="end">{{pedi.ESTADO}}</ion-badge>
                  <ion-label text-wrap>
                    <p><b>Ubicacion:</b> {{pedi.NOMBRE_PROV}}, {{pedi.NOMBRE_CIUDAD}}</p>
                    <p><b>Automovil:</b> {{pedi.MODELO}}, {{pedi.MARCA}}, {{pedi.ANIO}}</p>
                    <p><b>Repuesto:</b> {{pedi.DESCRIPCION}}, {{pedi.ORIGINAL}}, {{pedi.GENERICO}}</p>
                  </ion-label>
                </ion-col>
                <ion-col size="1" >
                  <ion-badge color="danger" side="end" >{{pedi.COD_PEDIDO}}</ion-badge>
                  <ion-button (click)="Detalles_Pedido(pedi,ionItemSliding)" class="posIcon" color="warning">
                    <ion-icon name="eye-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="Borrar_Pedido(pedi)"  class="posIcon" color="light" *ngIf="pedi.ESTADO != 'Pre-Finalizado'">
                    <ion-icon  name="trash-outline" side="end"></ion-icon> 
                  </ion-button>
                </ion-col>                    
              </ion-row>
              <ion-row>
                    <ion-col size="8">
                      
                    </ion-col>
                    <ion-col >
                     
                                      
                    </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="end">
            <!--<ion-item-option color="warning" (click)="Detalles_Pedido(pedi,ionItemSliding)">Detalles</ion-item-option>
            <ion-item-option color="danger" (click)="Borrar(pedi,ionItemSliding)">Eliminar</ion-item-option>-->
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>
  </ion-card-content>
  </ion-card>

</ion-content>