<!--<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Acerca</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar  class="background-image-blue textBanner">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Acerca</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content fullscreen class="ion-text-center vertical-align-content">
  <ion-card>
    <br>
    <img src="../../../assets/imagenes/repicar-icon.png"/>
    <ion-card-content >
      <br>
      <P>Aplicación móvil para la búsqueda y compra de repuestos tiene dos objetivos importantes:</P><br>
      <P>Ahorrarle tiempo al usuario en la búsqueda del repuesto.</P><br>
      <P>Seleccionar de manera fácil su repuesto de acuerdo al precio o distancia entre el taller y local</P><br>
      <P>Además, el usuario puede solicitar que el repuesto sea entregado en el lugar donde se encuentra, de esta manera ahorra tiempo y gastos de transporte.</P>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title><strong>Version 1.0</strong> </ion-card-title>
    </ion-card-header>
    <br>
  </ion-card>
</ion-content>