<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card color="light">
    <ion-card-header>
     <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>--> 
      <!--<ion-card-title>Card Title</ion-card-title>--> 
    </ion-card-header>
    <div class="img-wrapper">
      <img [src]="imagen">
      <ion-button color="light" (click)="Capturar_foto()">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombres:</ion-label>
          <ion-input [(ngModel)]="nombres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input [(ngModel)]="apellidos" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email:</ion-label>
          <ion-input [(ngModel)]="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Celular:</ion-label>
          <ion-input [(ngModel)]="celular" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input [(ngModel)]="contrasenia" ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="warning" (click)="Guardar()" class="ion-margin-start ion-margin-end ion-margin-bottom">REGISTRAR</ion-button>
</ion-content>
 
 
