<!--<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del pedido</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar  class="background-image textBanner">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del pedido</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="contentWhite">
  <ion-card class="cardList" style="width: 371px;">
    <ion-card-content class="textTittles contentPaddingLR" style="padding-top: 0px;">
  <ion-list>
      <ion-item-sliding  #ionItemSliding> <!--Da un identificador a la etiqueta.-->
        <ion-item>
          <!--Text wrap permite a textos largos se escriban en las sigueintes lineas-->
          <ion-label text-wrap>
            <p>
              <ion-grid>
                <ion-row>
                  <ion-col size="8">
                    <strong>{{fecha_pedido}}</strong>
                  </ion-col>
                  <ion-col>
                    <strong>{{hora_pedido}}</strong>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </p> 
            <p><strong>Ubicacion: </strong> {{pedido.NOMBRE_PROV}}, {{pedido.NOMBRE_CIUDAD}}</p>
            <p><strong>Automovil: </strong> {{pedido.MARCA}}, {{pedido.MODELO}}, {{pedido.ANIO}}</p>
            <p><strong>Repuesto:</strong> {{pedido.DESCRIPCION}}, {{pedido.ORIGINAL}}, {{pedido.GENERICO}}</p>
          </ion-label>
          <ion-badge color="danger" side="end">{{pedido.COD_PEDIDO}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="fotos.length > 0">
          <div id="LoadedImages">
            <ion-item *ngFor="let item of fotos">
                <img [src]="item.IMAGEN" class="imagenes">
            </ion-item>
          </div>
        </ion-item>
        <!--<ion-item-options side="end">
          <ion-item-option color="warning" (click)="Detalles_Pedido(pedi,ionItemSliding)">Editar</ion-item-option>
          <ion-item-option color="danger" (click)="Borrar(pedi,ionItemSliding)">Eliminar</ion-item-option>
        </ion-item-options>-->
      </ion-item-sliding>
  </ion-list>
  <!--PARA LAS PROPUESTAS EN ESTADO ACEPTADO-->
  <div [hidden]="!mostrarPropuestaAceptada">
    <ion-list >
      <ion-list-header class="dividerColor">
        <ion-grid>
          <ion-row>
            <ion-col>
              PROPUESTA ACEPTADA
            </ion-col>
            <ion-col>
              {{propuestaAceptada.FECHA_INI|slice:0:10}}
            </ion-col>
            <ion-col>
              {{propuestaAceptada.FECHA_INI|slice:11:16}}
            </ion-col>
          </ion-row>
        </ion-grid>
                    
      </ion-list-header>
      <ion-card class="cardList">
        <ion-item  class="ion-activated">
          <p class="menssage">Por favor, comuniquese con el proveedor y facilitele el código del pedído para concluír con la transacción</p>
        </ion-item>
        <ion-item>
          <p><strong>Proveedor: </strong>{{propuestaAceptada.NOMBRE_LOCAL}}, {{propuestaAceptada.NOMBRE_PROVEE}}, {{propuestaAceptada.TEL_PROVEE}}, {{propuestaAceptada.EMAIL_PROVEE}}</p>
        </ion-item>
        <ion-item>
          <p><strong>Ubicación: </strong>{{propuestaAceptada.NOMBRE_PROVIN}}, {{propuestaAceptada.NOMBRE_CIUDAD}}, {{propuestaAceptada.SECTOR}}</p>
        </ion-item>
      
        <ion-card-content>
          <ion-item *ngIf="propuestaAceptada.P_ORIGINAL != 0">
            <ion-label position="fixed">Original:</ion-label>
            <ion-input  disabled>{{propuestaAceptada.P_ORIGINAL|currency}}</ion-input>
            <ion-checkbox *ngIf="propuestaAceptada.FACTURA == 1" checked="true"  disabled></ion-checkbox> 
            <ion-checkbox *ngIf="propuestaAceptada.FACTURA == 0" checked="false"  disabled></ion-checkbox> 
              <ion-label>Factura</ion-label>
          </ion-item>
          <ion-item *ngIf="propuestaAceptada.P_GENERICO != 0">
            <ion-label position="fixed">Génerico:</ion-label>
            <ion-input  disabled>{{propuestaAceptada.P_GENERICO|currency}}</ion-input>
            <ion-checkbox  *ngIf="propuestaAceptada.ENVIO == 1" checked="true"  disabled></ion-checkbox> 
            <ion-checkbox  *ngIf="propuestaAceptada.ENVIO == 0" checked="false"  disabled></ion-checkbox> 
              <ion-label>Envio...</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
<!--PARA LAS PROPUESTAS EN ESTADO COTIZADO-->
    <div [hidden]="!mostrarPropuestasCotizadas">
      <ion-list *ngFor="let propuesta of propuestas; let i = index" >
        <ion-list-header class="dividerColor">
          <ion-grid>
            <ion-row>
              <ion-col>
                PROPUESTA {{i + 1}}:
              </ion-col>
              <ion-col>
                {{propuesta.FECHA_INI|slice:0:10}}
              </ion-col>
              <ion-col>
                {{propuesta.FECHA_INI|slice:11:16}}
              </ion-col>
            </ion-row>
          </ion-grid>
                      
        </ion-list-header>
        <ion-card class="cardList">
          <ion-item>
            <ion-label text-wrap>Ubicación: {{propuesta.NOMBRE_PROVIN}}, {{propuesta.NOMBRE_CIUDAD}}, {{propuesta.SECTOR}}</ion-label>
            <ion-button fill="outline" color="success" slot="end" class="parpadea">New</ion-button>
          </ion-item>
        
          <ion-card-content>
            <ion-item>
              <ion-label position="fixed">Original:</ion-label>
              <ion-input  disabled>{{propuesta.P_ORIGINAL|currency}}</ion-input>
              <ion-checkbox *ngIf="propuesta.FACTURA == 1" checked="true"  disabled></ion-checkbox> 
              <ion-checkbox *ngIf="propuesta.FACTURA == 0" checked="false"  disabled></ion-checkbox> 
                <ion-label>Factura</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">Génerico:</ion-label>
              <ion-input  disabled>{{propuesta.P_GENERICO|currency}}</ion-input>
              <ion-checkbox  *ngIf="propuesta.ENVIO == 1" checked="true"  disabled></ion-checkbox> 
              <ion-checkbox  *ngIf="propuesta.ENVIO == 0" checked="false"  disabled></ion-checkbox> 
                <ion-label>Envio...</ion-label>
            </ion-item>
         <div style="text-align: right;">
          <ion-button color="warning" (click)="aceptarPropuesta(propuesta)"><strong>Aceptar</strong> </ion-button>
         </div> 
          </ion-card-content>
        </ion-card>
      </ion-list>

    </div>
    </ion-card-content>
    </ion-card>
    
</ion-content>

