.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  .menssage {
    color:limegreen;
    font-size: 14px;
  }

  #LoadedImages {
    ion-item {
        display: inline-block;
        padding: 10 !important;
        width: 33.333%;
    }
    ion-icon {
        position: absolute;
        z-index: 9;
        font-size: 1.5rem;
        right: 14px;
        top:1px;
        text-shadow: #1c1c1c 1px 1px 1px;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        opacity: .85;
    }
}