<!--<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" class="vertical-align-content">
  <ion-card>
    <ion-card class="ion-card">
      <div class="img-wrapper">
        <img [src]="imagen">
        <ion-button color="light" (click)="Capturar_foto()">
          <ion-icon slot="icon-only" name="camera-outline" color="medium">
          </ion-icon>
        </ion-button>
      </div>
      <ion-card-content class="ion-text-center">
        <h2>Zahra Zamin</h2>
        <ion-text color="medium">
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-icon name="location-outline" color="medium">
            </ion-icon>
            <p>2345 Street, Ohio, USA.</p>
          </div>
        </ion-text>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombres:</ion-label>
            <ion-input [(ngModel)]="nombres"></ion-input>
            <ion-buttons slot="end">
              <ion-icon name="color-wand-outline"></ion-icon>
            </ion-buttons>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellidos:</ion-label>
            <ion-input [(ngModel)]="apellidos"></ion-input>
            <ion-buttons slot="end">
              <ion-icon name="color-wand-outline"></ion-icon>
            </ion-buttons>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input [(ngModel)]="email" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Celular:</ion-label>
            <ion-input [(ngModel)]="celular" disabled></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="warning" class="ion-margin-start ion-margin-end ion-margin-bottom"
          (click)="Actualizar()"><strong>GUARDAR CAMBIOS</strong> </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>