<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button  menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Principal</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
      <h3 class="ion-text-center">REGISTRO DE BUSQUEDA</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-card color="warning" (click)="servicio.irA('/clientes')">
          <ion-card-header>
            <ion-card-content>
              <ion-icon name="reader-outline"></ion-icon>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
      <h3 class="ion-text-center">NUEVA BUSQUEDA</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-card color="warning" (click)="servicio.irA('/usuarios')">
          <ion-card-header>
            <ion-card-content>
              <ion-icon name="search-outline"></ion-icon>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

