<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='inicio' text=''>atras</ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Pedido</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="servicio.irA('/pedido/0')">
        <ion-icon name="chatbox" style="font-size: 30px;" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <ion-item>
    <ion-label>Provincia</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="id_provincia" (ionChange)="Cargar_Ciudades(provi.value)" #provi placeholder='Seleccione'>
      <ion-select-option *ngFor="let provincia of provincias" value="{{ provincia.ID_PROVINCIA}}">
          {{ provincia.NOMBRE }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Ciudad</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="id_ciudad" placeholder='Seleccione'>
        <ion-select class="custom-options" interface="popover">
          <ion-select-option *ngFor="let ciudad of ciudades" value="{{ ciudad.ID_CIUDAD}}">
            {{ ciudad.NOMBRE }}
        </ion-select-option>
        </ion-select>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Tipo de vehiculo</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="tipov" placeholder='Seleccione'>
      <ion-select-option *ngFor="let tipo_vehivulo of tipo_vehiculos" value="{{ tipo_vehivulo.DESCRIPCION}}">
        {{ tipo_vehivulo.DESCRIPCION }}
      </ion-select-option>
    </ion-select>
  </ion-item>
<!--  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="id_marca" (ionChange)="Cargar_Modelos(marca.value)" #marca>
      <ion-select-option *ngFor="let marca of marcas" value="{{ marca.ID_MARCA}}">
        {{ marca.DESCRIPCION }}
      </ion-select-option>
    </ion-select>
  </ion-item>-->
  <ion-item>
    <ion-label position="fixed">Marca</ion-label>
    <ion-input [(ngModel)]="marca" placeholder="Ingrese la marca de su vehiculo" class="ion-text-right"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Modelo</ion-label>
    <ion-input [(ngModel)]="modelo" placeholder="Ingrese el modelo de su vehiculo" class="ion-text-right"></ion-input>
  </ion-item>
 <!-- <ion-item>
    <ion-label>Modelo</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="id_modelo">
      <ion-select-option *ngFor="let modelo of modelos"  value="{{ modelo.ID_MODELO}}">
        {{ modelo.DESCRIPCION }}
      </ion-select-option>
    </ion-select>
  </ion-item>-->
  <ion-item>
    <ion-label>Año</ion-label>
    <ion-select class="custom-options" interface="popover" [(ngModel)]="anioselect" placeholder='Seleccione'>
     <ion-select-option *ngFor="let anio of anios"  value="{{ anio.valor}}">
        {{ anio.valor }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header color="success">
    Tipo de repuesto
  </ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-label>Original</ion-label><br>
        <ion-checkbox [(ngModel)]="choriginal" ></ion-checkbox> 
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-label>Generico</ion-label><br>
        <ion-checkbox [(ngModel)]="chgenerico" ></ion-checkbox> 
      </ion-col>
    </ion-row>
    </ion-grid>
  <ion-list-header color="primary">
    Descripcion del pedido
  </ion-list-header>
<!-- Textarea with custom number of rows and cols -->
    <ion-item>
      <ion-textarea rows="3" cols="20" [(ngModel)]="descripcion" placeholder="Detalle aqui el tipo de repuesto y las caracteristicas especiales qie desea para la busqueda"></ion-textarea>
        <ion-button slot="end"  fill='outline' (click)="Capturar_foto()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
    </ion-item>
    <div id="LoadedImages" *ngIf="imagen">
      <ion-item *ngFor="let item of imagen; let i = index">
          <ion-icon name="close-circle" (click)="Borrar_foto(i)"></ion-icon>
          <img [src]="item" class="imagenes">
      </ion-item>
  </div>
  <!-- <ion-label >
      <img *ngIf="imagen != null" [src]="imagen">
    </ion-label>--> 
    <ion-list-header color="medium">
      Opcional
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col offset="1">
          <ion-checkbox [(ngModel)]="chfac" (click)="consultasDatosFac()"></ion-checkbox> 
          <ion-label>Factura</ion-label>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="chfac == true">   
        <ion-card-content>
          <ion-row >
              <ion-col size="11">
                  <ion-list>
                    <ion-item>
                      <ion-label position="fixed">Nombres:</ion-label>
                      <ion-input type="text" [(ngModel)]="nombres_fac" name="nombre_factu" #nombre_factu="ngModel" pattern="[a-zA-Z ]*" required></ion-input>
                    </ion-item>
                    <div class="form-error" *ngIf="nombres_fac && (nombre_factu.dirty || nombre_factu.touched)">
                      <small *ngIf="nombre_factu.errors?.pattern" class="error ion-padding"  style="color: red;">Nombre incorrecto</small>
                      <small *ngIf="nombre_factu.errors?.required" class="error ion-padding"  style="color: red;">Ingrese un nombre</small>
                    </div>
                    <ion-item>
                      <ion-label position="fixed">Cedula:</ion-label>
                      <ion-input type="text" [(ngModel)]="ci_fac" name="cedula_factu" #cedula_factu="ngModel" number minlength='10' maxlength='13'></ion-input>
                    </ion-item>
                    <div class="form-error" *ngIf="ci_fac && (cedula_factu.dirty || cedula_factu.touched)">
                      <small *ngIf="cedula_factu.errors?.number" class="error ion-padding"  style="color: red;">Cedula o Ruc erroneo</small>
                      <small *ngIf="cedula_factu.errors?.minlength" class="error ion-padding"  style="color: red;">No cumple el minimo de digitos</small>
                    </div>
                    <ion-item>
                      <ion-label position="fixed">Telefono:</ion-label>
                      <ion-input [(ngModel)]="telefono_fac" name="telefono_factu" #telefono_factu="ngModel" number minlength='10' maxlength='12'></ion-input>
                    </ion-item>
                    <div class="form-error" *ngIf="telefono_fac && (telefono_factu.dirty || telefono_factu.touched)">
                      <small *ngIf="telefono_factu.errors?.number" class="error ion-padding"  style="color: red;">Telefono o celular erroneo</small>
                      <small *ngIf="telefono_factu.errors?.minlength" class="error ion-padding"  style="color: red;">No cumple el minimo de digitos</small>
                    </div>
                    <ion-item>
                      <ion-label position="fixed">Direccion:</ion-label>
                      <ion-input [(ngModel)]="direccion_fac" ></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="fixed">Email:</ion-label>
                      <ion-input [(ngModel)]="email_fac" name="correo" #correo="ngModel" required email></ion-input>
                    </ion-item>
                    <div class="form-error" *ngIf="email_fac && (correo.dirty || correo.touched)">
                    <small class="error ion-padding" *ngIf="correo.errors" style="color: red;">Ingrese un correo valido</small>
                    </div>
                  </ion-list>
            </ion-col>
            <ion-col>
                    <ion-icon name="star-outline"></ion-icon>
            </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col offset="1">
          <ion-checkbox [(ngModel)]="chservi" (click)="consultasDatosEnvio()"></ion-checkbox> 
          <ion-label>Servicio de envio</ion-label>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="chservi == true">   
        <ion-card-content>
          <ion-row >
              <ion-col size="11">
                  <ion-list>
                    <ion-item>
                      <ion-label position="fixed">Calle principal:</ion-label>
                      <ion-input [(ngModel)]="cprincipal"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="fixed">Calle secundaria:</ion-label>
                      <ion-input [(ngModel)]="csecundaria" ></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="fixed">Telefono:</ion-label>
                      <ion-input type="text" [(ngModel)]="telefono_env" name="telefono_envio" #telefono_envio="ngModel" number minlength='10' maxlength='12' required></ion-input>
                    </ion-item>
                    <div class="form-error" *ngIf="telefono_env && (telefono_envio.dirty || telefono_envio.touched)">
                      <small *ngIf="telefono_envio.errors?.number" class="error ion-padding"  style="color: red;">Telefono o celular erroneo</small>
                      <small *ngIf="telefono_envio.errors?.minlength" class="error ion-padding"  style="color: red;">No cumple el minimo de digitos</small>
                    </div>
                    <ion-item>
                      <ion-label position="fixed">referencia:</ion-label>
                      <ion-input [(ngModel)]="referencia" ></ion-input>
                    </ion-item>
                  </ion-list>
            </ion-col>
            <ion-col>
                    <ion-icon name="star-outline"></ion-icon>
            </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    <ion-button expand="block" (click)="Guardar()" color="warning">BUSCAR</ion-button>
  </ion-list>
</ion-content>