
  <ion-menu side="start" menuId="first" contentId="main-content" (ionWillOpen)="inicializar()">
    <ion-header>
      <ion-toolbar >  
        <br>
        <div class="ion-text-center">
          <img class="logo" src="./assets/imagenes/repicar_slogan.png">
        </div>
        <ion-card color="fondo">
         <div class="img-wrapper">
            <img src="{{cliente.FOTO}}">
         </div>
         <ion-card-content>
           <br>
           <h3 class="text-name"><strong>{{cliente.NOMBRES}} {{cliente.APELLIDOS}}</strong></h3>
           <ion-text color="medium">
             <div>
               <p class="text-subname"> {{cliente.EMAIL}}</p>
             </div>
             <div  class="ion-justify-content-center">
              <p style="color:thistle;text-align: center; font-size: 10px;">Version 1.0</p>
            </div>
           </ion-text>
         </ion-card-content>
        </ion-card>
      </ion-toolbar>
    </ion-header>
    <hr >
    <ion-content class="ion-content">
      <ion-list>
        <ion-menu-toggle>
        <ion-item (click)="servicio.irA('/cuenta')">
          <ion-icon size="large" name="person-outline"></ion-icon>
          <ion-label><strong>Cuenta</strong> </ion-label>
        </ion-item>
        <ion-item (click)="servicio.irA('/historial')">
          <ion-icon size="large" slot="start" name="time-outline"></ion-icon>
          <ion-label><strong>Historial</strong> </ion-label>
        </ion-item>
        <ion-item (click)="servicio.irA('/acerca')">
          <ion-icon size="large" slot="start" name="help-circle-outline"></ion-icon>
          <ion-label><strong>Acerca de la aplicación</strong> </ion-label>
        </ion-item>
        <ion-item-divider > 
        </ion-item-divider>
        <ion-item (click)="logout()">
          <ion-icon size="large" name="close-circle-outline"></ion-icon>
          <ion-label><strong>Salir</strong></ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
   
      <br>
      
    </ion-content>
  </ion-menu>
