ion-toolbar{
    padding:   50px 0 0px;  //arriba - izquierda - abajo - derecha
  }

  ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 10px;
    position: relative;
    padding-top: 80px;
  
    .img-wrapper {
      position: absolute;
      left: 30%;
      top: -22px;
      img {
        border-radius: 100px;
        width: 130px;
        height: 130px;
        border-color: #ffc409;
      border-width: 3px;
      border-style: solid;
      }
    }
  }
  .logo{
    width: 85%;
  }
  .text-name{
    color:white;text-align: center; font-size: 15px;
  }
  .text-subname{
    color:white;text-align: center; font-size: 12px;
  }
  hr{
    height: 10px !important;
    width: 500px !important;
    background: #ffc409 !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin:0px;
  }

  ion-content{
    --background: white;
  }